/Gradle__android_arch_core_common_1_1_0_jar.xml
/Gradle__android_arch_core_runtime_1_1_0_aar.xml
/Gradle__android_arch_core_runtime_1_1_1_aar.xml
/Gradle__android_arch_lifecycle_common_1_1_0_jar.xml
/Gradle__android_arch_lifecycle_livedata_1_1_1_aar.xml
/Gradle__android_arch_lifecycle_livedata_core_1_1_0_aar.xml
/Gradle__android_arch_lifecycle_livedata_core_1_1_1_aar.xml
/Gradle__android_arch_lifecycle_runtime_1_1_0_aar.xml
/Gradle__android_arch_lifecycle_runtime_1_1_1_aar.xml
/Gradle__android_arch_lifecycle_viewmodel_1_1_1_aar.xml
/Gradle__com_android_support_animated_vector_drawable_27_1_1_aar.xml
/Gradle__com_android_support_animated_vector_drawable_28_0_0_aar.xml
/Gradle__com_android_support_appcompat_v7_23_1_1_aar.xml
/Gradle__com_android_support_appcompat_v7_27_1_1_aar.xml
/Gradle__com_android_support_appcompat_v7_28_0_0_aar.xml
/Gradle__com_android_support_asynclayoutinflater_28_0_0_aar.xml
/Gradle__com_android_support_cardview_v7_28_0_0_aar.xml
/Gradle__com_android_support_coordinatorlayout_28_0_0_aar.xml
/Gradle__com_android_support_cursoradapter_28_0_0_aar.xml
/Gradle__com_android_support_customview_28_0_0_aar.xml
/Gradle__com_android_support_design_23_1_1_aar.xml
/Gradle__com_android_support_design_27_1_1_aar.xml
/Gradle__com_android_support_design_28_0_0_aar.xml
/Gradle__com_android_support_documentfile_28_0_0_aar.xml
/Gradle__com_android_support_drawerlayout_28_0_0_aar.xml
/Gradle__com_android_support_interpolator_28_0_0_aar.xml
/Gradle__com_android_support_loader_28_0_0_aar.xml
/Gradle__com_android_support_localbroadcastmanager_28_0_0_aar.xml
/Gradle__com_android_support_mediarouter_v7_23_0_0_aar.xml
/Gradle__com_android_support_mediarouter_v7_26_1_0_aar.xml
/Gradle__com_android_support_multidex_1_0_0_aar.xml
/Gradle__com_android_support_multidex_1_0_1_aar.xml
/Gradle__com_android_support_multidex_1_0_2_aar.xml
/Gradle__com_android_support_multidex_1_0_3_aar.xml
/Gradle__com_android_support_multidex_instrumentation_1_0_1_aar.xml
/Gradle__com_android_support_multidex_instrumentation_1_0_2_aar.xml
/Gradle__com_android_support_palette_v7_26_1_0_aar.xml
/Gradle__com_android_support_print_28_0_0_aar.xml
/Gradle__com_android_support_recyclerview_v7_23_1_1_aar.xml
/Gradle__com_android_support_recyclerview_v7_27_1_1_aar.xml
/Gradle__com_android_support_recyclerview_v7_28_0_0_aar.xml
/Gradle__com_android_support_slidingpanelayout_28_0_0_aar.xml
/Gradle__com_android_support_support_annotations_23_1_1_jar.xml
/Gradle__com_android_support_support_annotations_27_1_1_jar.xml
/Gradle__com_android_support_support_compat_27_1_1_aar.xml
/Gradle__com_android_support_support_compat_28_0_0_aar.xml
/Gradle__com_android_support_support_core_ui_27_1_1_aar.xml
/Gradle__com_android_support_support_core_ui_28_0_0_aar.xml
/Gradle__com_android_support_support_core_utils_27_1_1_aar.xml
/Gradle__com_android_support_support_core_utils_28_0_0_aar.xml
/Gradle__com_android_support_support_fragment_27_1_1_aar.xml
/Gradle__com_android_support_support_fragment_28_0_0_aar.xml
/Gradle__com_android_support_support_media_compat_27_1_1_aar.xml
/Gradle__com_android_support_support_media_compat_28_0_0_aar.xml
/Gradle__com_android_support_support_v4_23_1_1_aar.xml
/Gradle__com_android_support_support_v4_27_1_1_aar.xml
/Gradle__com_android_support_support_v4_28_0_0_aar.xml
/Gradle__com_android_support_support_vector_drawable_27_1_1_aar.xml
/Gradle__com_android_support_support_vector_drawable_28_0_0_aar.xml
/Gradle__com_android_support_swiperefreshlayout_28_0_0_aar.xml
/Gradle__com_android_support_transition_28_0_0_aar.xml
/Gradle__com_android_support_versionedparcelable_28_0_0_aar.xml
/Gradle__com_android_support_viewpager_28_0_0_aar.xml
/Gradle__com_github_hotchemi_permissionsdispatcher_3_2_0_aar.xml
/Gradle__com_google_android_gms_play_services_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_9_2_0_aar.xml
/Gradle__com_google_android_gms_play_services_ads_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_ads_license_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_ads_lite_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_ads_lite_9_2_0_aar.xml
/Gradle__com_google_android_gms_play_services_ads_lite_license_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_analytics_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_analytics_impl_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_analytics_impl_9_2_0_aar.xml
/Gradle__com_google_android_gms_play_services_analytics_impl_license_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_analytics_license_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_appindexing_9_2_0_aar.xml
/Gradle__com_google_android_gms_play_services_appinvite_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_appinvite_license_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_auth_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_auth_api_phone_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_auth_api_phone_license_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_auth_base_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_auth_base_9_2_0_aar.xml
/Gradle__com_google_android_gms_play_services_auth_base_license_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_awareness_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_awareness_license_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_base_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_base_license_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_basement_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_basement_9_2_0_aar.xml
/Gradle__com_google_android_gms_play_services_basement_license_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_cast_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_cast_framework_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_cast_framework_license_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_cast_license_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_clearcut_9_2_0_aar.xml
/Gradle__com_google_android_gms_play_services_contextmanager_9_2_0_aar.xml
/Gradle__com_google_android_gms_play_services_drive_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_drive_license_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_fido_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_fido_license_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_fitness_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_fitness_license_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_games_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_games_9_2_0_aar.xml
/Gradle__com_google_android_gms_play_services_games_license_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_gass_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_gass_license_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_gcm_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_gcm_license_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_identity_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_identity_license_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_iid_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_iid_license_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_instantapps_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_instantapps_license_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_location_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_location_license_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_maps_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_maps_license_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_nearby_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_nearby_license_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_panorama_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_panorama_license_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_places_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_places_9_2_0_aar.xml
/Gradle__com_google_android_gms_play_services_places_license_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_plus_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_plus_license_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_safetynet_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_safetynet_license_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_tagmanager_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_tagmanager_api_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_tagmanager_api_9_2_0_aar.xml
/Gradle__com_google_android_gms_play_services_tagmanager_api_license_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_tagmanager_license_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_tagmanager_v4_impl_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_tagmanager_v4_impl_license_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_tasks_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_tasks_license_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_vision_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_vision_common_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_vision_common_license_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_vision_license_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_wallet_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_wallet_license_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_wearable_12_0_1_aar.xml
/Gradle__com_google_android_gms_play_services_wearable_license_12_0_1_aar.xml
/Gradle__com_google_code_gson_gson_2_6_1_jar.xml
/Gradle__com_google_firebase_firebase_analytics_12_0_1_aar.xml
/Gradle__com_google_firebase_firebase_analytics_impl_12_0_1_aar.xml
/Gradle__com_google_firebase_firebase_analytics_impl_license_12_0_1_aar.xml
/Gradle__com_google_firebase_firebase_analytics_license_12_0_1_aar.xml
/Gradle__com_google_firebase_firebase_appindexing_12_0_1_aar.xml
/Gradle__com_google_firebase_firebase_appindexing_license_12_0_1_aar.xml
/Gradle__com_google_firebase_firebase_auth_12_0_1_aar.xml
/Gradle__com_google_firebase_firebase_auth_common_9_2_0_aar.xml
/Gradle__com_google_firebase_firebase_auth_license_12_0_1_aar.xml
/Gradle__com_google_firebase_firebase_auth_module_9_2_0_aar.xml
/Gradle__com_google_firebase_firebase_common_12_0_1_aar.xml
/Gradle__com_google_firebase_firebase_common_9_2_0_aar.xml
/Gradle__com_google_firebase_firebase_common_license_12_0_1_aar.xml
/Gradle__com_google_firebase_firebase_config_12_0_1_aar.xml
/Gradle__com_google_firebase_firebase_config_9_2_0_aar.xml
/Gradle__com_google_firebase_firebase_config_license_12_0_1_aar.xml
/Gradle__com_google_firebase_firebase_core_9_2_0_aar.xml
/Gradle__com_google_firebase_firebase_crash_12_0_1_aar.xml
/Gradle__com_google_firebase_firebase_crash_9_2_0_aar.xml
/Gradle__com_google_firebase_firebase_crash_license_12_0_1_aar.xml
/Gradle__com_google_firebase_firebase_database_12_0_1_aar.xml
/Gradle__com_google_firebase_firebase_database_9_2_0_aar.xml
/Gradle__com_google_firebase_firebase_database_connection_12_0_1_aar.xml
/Gradle__com_google_firebase_firebase_database_connection_license_12_0_1_aar.xml
/Gradle__com_google_firebase_firebase_database_license_12_0_1_aar.xml
/Gradle__com_google_firebase_firebase_dynamic_links_12_0_1_aar.xml
/Gradle__com_google_firebase_firebase_dynamic_links_license_12_0_1_aar.xml
/Gradle__com_google_firebase_firebase_iid_12_0_1_aar.xml
/Gradle__com_google_firebase_firebase_iid_license_12_0_1_aar.xml
/Gradle__com_google_firebase_firebase_messaging_12_0_1_aar.xml
/Gradle__com_google_firebase_firebase_messaging_license_12_0_1_aar.xml
/Gradle__com_google_firebase_firebase_storage_12_0_1_aar.xml
/Gradle__com_google_firebase_firebase_storage_9_2_0_aar.xml
/Gradle__com_google_firebase_firebase_storage_common_12_0_1_aar.xml
/Gradle__com_google_firebase_firebase_storage_common_license_12_0_1_aar.xml
/Gradle__com_google_firebase_firebase_storage_license_12_0_1_aar.xml
/Gradle__com_squareup_okhttp3_logging_interceptor_3_12_1_jar.xml
/Gradle__com_squareup_okhttp3_okhttp_3_12_0_jar.xml
/Gradle__com_squareup_okhttp3_okhttp_3_12_1_jar.xml
/Gradle__com_squareup_okhttp3_okhttp_3_6_0_jar.xml
/Gradle__com_squareup_okio_okio_1_11_0_jar.xml
/Gradle__com_squareup_retrofit2_adapter_rxjava2_2_5_0_jar.xml
/Gradle__com_squareup_retrofit2_converter_gson_2_0_2_jar.xml
/Gradle__com_squareup_retrofit2_retrofit_2_2_0_jar.xml
/Gradle__io_reactivex_rxjava2_rxandroid_2_1_0_aar.xml
/Gradle__io_reactivex_rxjava2_rxjava_2_2_0_jar.xml
/Gradle__io_reactivex_rxjava2_rxkotlin_2_1_0_jar.xml
/Gradle__org_apache_http_legacy_android_23.xml
/Gradle__org_jetbrains_annotations_13_0_jar.xml
/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_1_3_jar.xml
/Gradle__org_reactivestreams_reactive_streams_1_0_2_jar.xml
